<%- include("partials/header.ejs") %>

<main>
    <h1 class="container mt-5">
        Your Recent Blogs
    </h1>
    <div class="container d-flex flex-column align-items-center justify-content-center p-5">
        <% if (blogList.length < 1) { %>
            <h4 class="text-body-tertiary mt-5">
                You don't have any blogs yet. Please visit the home page to create a new blog.
            </h4>
        <% } else { %>
            <% for (let index = 0; index < blogList.length; index++) { %>
                <div class="card m-2" style="width: 80%;">
                    <div class="card-body">
                        <h4 class="card-title"><%= blogList[index].title %></h4>
                       <p class="text-body-tertiary" style="font-size:0.8rem"><%= blogList[index].date %></p>
                        <p>
                            <%= blogList[index].description?.slice(0, 300) %>
                        </p>
                        <div class="d-flex flex-row-reverse">
                          
                            <a href="/blogDetails/<%= blogList[index].id %>" class="btn btn-dark m-1">See more...</a>
                        
                            <a href="/blogDetails/<%= blogList[index].id %>" class="btn btn-outline-dark m-1">Edit</a>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>

    <!-- Modal -->
    <div class="modal fade mt-5" id="blogModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Post a Blog</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/home" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Blog Title</span>
                            <input type="text" id="bTitle" name="blogTitle" class="form-control" placeholder="Blog Title Here" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="form-floating">
                            <textarea type="text" id="bDes" name="blogDes"
                                placeholder="Your Blog here..." class="form-control" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Comments</label>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Post</button>
                </div>
                    </form>
            </div>
        </div>
    </div>

      

    

</main>

<%- include("partials/footer.ejs") %>
